body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #222;
    font-style: italic;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    background-color: #fff;
    border: none;
    border-radius: 0;
    overflow: hidden;
    margin-top: 30px;
}


/* Image produit */
.product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: none;
    cursor: pointer;
}


.product-info h2 {
    font-size: 0.9rem;
    color: #555;
    margin:0;
}

.product-info p {
    font-size: 0.9rem;
    color: #000;
    margin: 5px 0;
}

.product-price {
    font-size: 1rem;
    font-weight: bold;
}
.product-info a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
